.dialogues {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.dialoguesItem {

}

.item a {
    text-decoration: none;
}

.item a.activeLink {
    color: chocolate;
}

.messages {

}

.message {

}